<form id="uploadForm" method="POST" enctype="multipart/form-data">
    {{ imagesForm.hidden_tag() }}
  
    <div id="formSetting" class="settingClose" style="display: none;">
        <div class="FormContainer">
            <div>
                {{ imagesForm.Weight.label }}
                {{ imagesForm.Weight }}
            </div>
            <div>
                {{ imagesForm.Quality.label }}
                {{ imagesForm.Quality }}
            </div>
        </div>
    
        <div class="FormContainer">
            <div>
                {{ imagesForm.Width.label }}
                {{ imagesForm.Width }}
            </div>
        
            <div>
                {{ imagesForm.Height.label }}
                {{ imagesForm.Height }}
            </div>
        </div>
       
    </div>

    <div>
        <div class="image-container">
            {{ imagesForm.images.label }}
            <div style="display: flex;">
                {{ imagesForm.images }}
                <div id="Settings" class="SettingContainer">
                    <img src="../static/img/configuration.png" alt="" class="btnSettings">
                </div> 
            </div>
            {{ imagesForm.submit(class="btn-Upload") }}
        </div>
            
    </div>
</form>