<div id="popup" class="popup-overlay" style="display: none;">
    <div class="popup-content">
        <span id="closePopupBtn" class="close-btn">&times;</span>
        <img src="" alt="download">
        <h2 id="popupMessage"></h2>
        <div class="successfully">
            <button class="btn-popup">Upload images to Storage</button>
            <button class="btn-popup">Convert other Images</button>
        </div>
        <div class="oops">
            <button class="btn-popup">Recompress</button>
        </div>        
    </div>
</div>