{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %} OneCompress | {{ titulo | default("2D Img") }}{% endblock %}   
    </title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    {%include 'link_css.html'%}
    {%include 'script_js.html'%}
    
{% endblock %}

<body>
    {%block body%}
        <aside>
            <div class="logo-container">
                <h1 class="black-900-italic custom-blue-dark m-200 ">One<spam class="custom-Blue-ligth">Compress</spam></h1>
            </div> 
            <hr class="hr-white">
                {%include 'navbar.html'%}
        </aside>
        <div class="principal-container">
            <header>
                <div class="userContain">
                    <h5>  Welcome Usuario</h2>
                </div>
                <div class="Section-title">
                    <h4 class="title">{{ titulo | default("2D Img") }}</h4> 
                    <hr class="hr-black">
                </div>
            </header>
            <main>   
             {%block content%}
             {%endblock%} 
            </main>
        </div>  

        {%block scripts%}
        {{super()}}
    {%endblock%}

    {%endblock%}
</body>
