
<nav>
    <ul>
        <li>
            <img class="icon-2d" src="../static/img/2d.png" alt="2d">
            <a href="{{url_for('Compress2D.index')}}"><span>2D Imagen</span></a>
        </li>
        <li>
            <img class="icon-2d" src="../static/img/360.png" alt="2d">
            <a href="#"><span>360 Imagen</span></a>
        </li>
        <li>
            <img class="icon-2d" src="../static/img/slider.png" alt="2d">
            <a href="#"><span>Slider</span></a>

        </li>
        <li>
            <img class="icon-2d" src="../static/img/pdf.png" alt="pdf">
            <a href="{{url_for('CompressPdf.index')}}"><span>Pdf</span></a>
        </li>
       
    </ul>
</nav>
